# Sales Data Analysis

This project uses [Knightbearr's sales product data](https://www.kaggle.com/datasets/knightbearr/sales-product-data) which, though contrived, serves as a useful starting point for store sales data analysis.

## Imports

In [1]:
import pandas as pd

## Getting the data

I downloaded the data archive, which comes with twelve files, each containing data for one of the twelve months of the year. To load the data into a Pandas DataFrame, I used the file name convention to my advantage:

In [2]:
months = [
    "January",
    "February",
    "March",
    "April",
    "May",
    "June",
    "July",
    "August",
    "September",
    "October",
    "November",
    "December",
]

df = pd.DataFrame()

for month in months:
    df = pd.concat([df, pd.read_csv("./data/knightbearr-sales-data/Sales_{0}_2019.csv".format(month))], ignore_index = True)

Note that `ignore_index` is set to `True` in the `concat()` call; this is because each DataFrame loaded by the `read_csv()` call in the loop has its own indices and if we don't ignore them, the repetition causes problems with DataFrame concatenation.

As an experiemnt, try to replicate this whole notebook without using the `ignore_index` parameter. You'll see what issues I mean when you get to the grouped monthly sales data.

For now, let's see what sort of data we have:

In [3]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 186850 entries, 0 to 186849
Data columns (total 6 columns):
 #   Column            Non-Null Count   Dtype
---  ------            --------------   -----
 0   Order ID          186305 non-null  object
 1   Product           186305 non-null  object
 2   Quantity Ordered  186305 non-null  object
 3   Price Each        186305 non-null  object
 4   Order Date        186305 non-null  object
 5   Purchase Address  186305 non-null  object
dtypes: object(6)
memory usage: 8.6+ MB

The `object`s in the `Dtype` column indicate that all the columns contain strings, which means we'll have to parse the strings in the `Order ID`, `Quantity Ordered`, `Price Each`, and `Order Date` colummns to get numeric values.

First, though, let's see check the data quality.

## Checking data quality

### Missing values

The simplest data qualit check is seeing if there are missing values. Pandas DataFrames have a convenient `innull()` method that returns a DataFrame with the same dimensions as the DataFrame on which it was called, but filled with booleans indicating whether the value at that row and column is null:

In [4]:
df.isnull().sum()

Order ID            545
Product             545
Quantity Ordered    545
Price Each          545
Order Date          545
Purchase Address    545
dtype: int64

Interesing fact: the pandas DataFrame methods `isnull()` and `isna()` are actually the exact same method, according to [this](https://datascience.stackexchange.com/questions/37878/difference-between-isna-and-isnull-in-pandas) Data Science StackExchange answer. The functionality was given two different names for the benefit of R users, because in R a DataFrame can have null as well as NA values, but Python has neither and instead has NaN values!

Looks like 545 entries in each column are null-valued. My bet is that there are 545 rows with all null values, rather than 545 entries in each column being randomly null-valued. The latter is too much coincidence: if there _were_ random nulls in each column, what are the odds the number of nulls in every column would be the same?

Just to satisfy curiosity, let's get the rows with null values and see what we can make of them.

In [5]:
df[df.isnull().any(axis=1)]

,Order ID,Product,Quantity Ordered,Price Each,Order Date,Purchase Address
664,NaN,NaN,NaN,NaN,NaN,NaN
678,NaN,NaN,NaN,NaN,NaN,NaN
797,NaN,NaN,NaN,NaN,NaN,NaN
876,NaN,NaN,NaN,NaN,NaN,NaN
1299,NaN,NaN,NaN,NaN,NaN,NaN
...,...,...,...,...,...,...
184678,NaN,NaN,NaN,NaN,NaN,NaN
184695,NaN,NaN,NaN,NaN,NaN,NaN
185042,NaN,NaN,NaN,NaN,NaN,NaN
185729,NaN,NaN,NaN,NaN,NaN,NaN
186463,NaN,NaN,NaN,NaN,NaN,NaN

As expected, there are 545 rows filled with NaNs. What's less expected is that they appear to be randomly distributed, based on a quick glance at the indices. I suppose I expected that they would occur at somewhat regular intervals, e.g. at the end of each of the monthly data files.

Since we know that all the NaN-valued rows are completely useless, we can drop them:

In [6]:
df.dropna(inplace=True)

In [7]:
df.isnull().sum()

Order ID            0
Product             0
Quantity Ordered    0
Price Each          0
Order Date          0
Purchase Address    0
dtype: int64

Lovely. Now let's perform some other data quality checks.

### Data type consistency

In [8]:
df.sample(10)

,Order ID,Product,Quantity Ordered,Price Each,Order Date,Purchase Address
51493,190392,Flatscreen TV,1,300,04/09/19 19:00,"466 Hill St, San Francisco, CA 94016"
23088,163266,27in 4K Gaming Monitor,1,389.99,03/24/19 20:18,"951 Lincoln St, Seattle, WA 98101"
141023,275885,Lightning Charging Cable,1,14.95,10/05/19 07:15,"904 Cherry St, San Francisco, CA 94016"
6251,147181,USB-C Charging Cable,1,11.95,01/02/19 14:40,"480 Forest St, Dallas, TX 75001"
46649,185782,AAA Batteries (4-pack),2,2.99,04/20/19 16:29,"116 Madison St, Atlanta, GA 30301"
61972,200364,Wired Headphones,1,11.99,05/16/19 18:24,"993 Spruce St, Los Angeles, CA 90001"
140374,275267,Bose SoundSport Headphones,1,99.99,10/05/19 21:02,"697 2nd St, San Francisco, CA 94016"
124723,260335,34in Ultrawide Monitor,1,379.99,10/09/19 18:49,"141 Jackson St, Seattle, WA 98101"
72832,210712,USB-C Charging Cable,1,11.95,06/24/19 05:00,"392 Lake St, Austin, TX 73301"
110428,246653,iPhone,1,700,08/10/19 12:58,"633 Lakeview St, San Francisco, CA 94016"

That gives us an idea of what formats each column should be converted to.

Looks like `Order ID` should have one of Python's integer data types. Let's see if any entries don't:

In [9]:
df[df["Order ID"].str.isdecimal() == False].count()

Order ID            355
Product             355
Quantity Ordered    355
Price Each          355
Order Date          355
Purchase Address    355
dtype: int64

Fascinating! Looks like 355 rows contain non-numeric values in every column. Let's check them out.

In [10]:
df[df["Order ID"].str.isdecimal() == False].sample(10)

,Order ID,Product,Quantity Ordered,Price Each,Order Date,Purchase Address
121332,Order ID,Product,Quantity Ordered,Price Each,Order Date,Purchase Address
58411,Order ID,Product,Quantity Ordered,Price Each,Order Date,Purchase Address
34529,Order ID,Product,Quantity Ordered,Price Each,Order Date,Purchase Address
169827,Order ID,Product,Quantity Ordered,Price Each,Order Date,Purchase Address
147389,Order ID,Product,Quantity Ordered,Price Each,Order Date,Purchase Address
88576,Order ID,Product,Quantity Ordered,Price Each,Order Date,Purchase Address
2463,Order ID,Product,Quantity Ordered,Price Each,Order Date,Purchase Address
123475,Order ID,Product,Quantity Ordered,Price Each,Order Date,Purchase Address
166876,Order ID,Product,Quantity Ordered,Price Each,Order Date,Purchase Address
141764,Order ID,Product,Quantity Ordered,Price Each,Order Date,Purchase Address

I wonder how that might have happened. Then again, this being a contrived dataset, I suppose the important thing is that we are careful to spot these things, rather than why; without knowing how the data was generated, it's almost certain that these rows were programmatically placed in the dataset.

Regardless, let's get rid of them.

In [11]:
df = df[df["Order ID"].str.isdecimal()]
df.sample(10)

,Order ID,Product,Quantity Ordered,Price Each,Order Date,Purchase Address
0,141234,iPhone,1,700,01/22/19 21:25,"944 Walnut St, Boston, MA 02215"
1,141235,Lightning Charging Cable,1,14.95,01/28/19 14:15,"185 Maple St, Portland, OR 97035"
2,141236,Wired Headphones,2,11.99,01/17/19 13:33,"538 Adams St, San Francisco, CA 94016"
3,141237,27in FHD Monitor,1,149.99,01/05/19 20:33,"738 10th St, Los Angeles, CA 90001"
4,141238,Wired Headphones,1,11.99,01/25/19 11:59,"387 10th St, Austin, TX 73301"
...,...,...,...,...,...,...
186845,319666,Lightning Charging Cable,1,14.95,12/11/19 20:58,"14 Madison St, San Francisco, CA 94016"
186846,319667,AA Batteries (4-pack),2,3.84,12/01/19 12:01,"549 Willow St, Los Angeles, CA 90001"
186847,319668,Vareebadd Phone,1,400,12/09/19 06:43,"273 Wilson St, Seattle, WA 98101"
186848,319669,Wired Headphones,1,11.99,12/03/19 10:39,"778 River St, Dallas, TX 75001"
186849,319670,Bose SoundSport Headphones,1,99.99,12/21/19 21:45,"747 Chestnut St, Los Angeles, CA 90001"

Now let's run the check again.

In [12]:
df[df["Order ID"].str.isdecimal() == False].count()

Order ID            0
Product             0
Quantity Ordered    0
Price Each          0
Order Date          0
Purchase Address    0
dtype: int64

And now the same check with other columns:

In [13]:
df[df["Quantity Ordered"].str.isdecimal() == False].count()

Order ID            0
Product             0
Quantity Ordered    0
Price Each          0
Order Date          0
Purchase Address    0
dtype: int64

In [14]:
df[df["Price Each"].str.replace(".", "").str.isnumeric() == False].count()

Order ID            0
Product             0
Quantity Ordered    0
Price Each          0
Order Date          0
Purchase Address    0
dtype: int64

Looks good so far. In order to verify that the `Order Date` column contains only date strings, we'll use the `parse` function from the `dateutil.parser` module.

In [15]:
from dateutil.parser import parse

We'll also write a simple function to handle parsing errors by returning `False`, and returning `True` for each successful parse:

In [16]:
def is_date(s):
    try:
        parse(s, fuzzy=True)
        return True
    except:
        return False

Specifying `fuzzy=True` saves us the trouble of going through the data and ensuring all the valid date strings use the same format.

Now we can check the `Order Date` column entries by calling `is_date()`, passing the entry string as the argument `s`:

In [28]:
df[df["Order Date"].map(lambda s: not is_date(s))].count()

Order ID            185950
Product             185950
Quantity Ordered    185950
Price Each          185950
Order Date          185950
Purchase Address    185950
dtype: int64

Excellent. Looks like all values are accounted for and everything can be converted to its proper type! We'll do that before running some more data quality checks.

## Data type conversion

In [29]:
try:
    df.loc[:, "Order ID"] = df["Order ID"].astype(int)
    df.loc[:, "Quantity Ordered"] = df["Quantity Ordered"].astype(int)
    df.loc[:, "Price Each"] = df["Price Each"].astype(float)
    df.loc[:, "Order Date"] = pd.to_datetime(df["Order Date"], format="%m/%d/%y %H:%M")
except ValueError:
    print("Couldn't convert a value.")

In [30]:
df.info()

<class 'pandas.core.frame.DataFrame'>
Index: 185950 entries, 0 to 186849
Data columns (total 6 columns):
 #   Column            Non-Null Count   Dtype
---  ------            --------------   -----
 0   Order ID          185950 non-null  object
 1   Product           185950 non-null  object
 2   Quantity Ordered  185950 non-null  object
 3   Price Each        185950 non-null  object
 4   Order Date        185950 non-null  object
 5   Purchase Address  185950 non-null  object
dtypes: object(6)
memory usage: 9.9+ MB

In [20]:
df.sample(10)

,Order ID,Product,Quantity Ordered,Price Each,Order Date,Purchase Address
25944,165986,AAA Batteries (4-pack),1,2.99,2019-03-13 19:41:00,"103 Dogwood St, Boston, MA 02215"
165733,299470,Flatscreen TV,1,300.0,2019-12-21 17:14:00,"996 Johnson St, New York City, NY 10001"
65746,203944,Macbook Pro Laptop,1,1700.0,2019-05-05 11:07:00,"246 Cherry St, Los Angeles, CA 90001"
7337,148218,Macbook Pro Laptop,1,1700.0,2019-01-21 16:02:00,"868 5th St, New York City, NY 10001"
164089,297903,USB-C Charging Cable,1,11.95,2019-12-10 16:12:00,"537 Park St, Seattle, WA 98101"
81484,218959,Lightning Charging Cable,1,14.95,2019-06-29 21:32:00,"16 7th St, New York City, NY 10001"
150068,284526,USB-C Charging Cable,1,11.95,2019-11-08 12:36:00,"814 Johnson St, Seattle, WA 98101"
17803,158207,ThinkPad Laptop,1,999.99,2019-02-16 17:00:00,"906 Maple St, Boston, MA 02215"
21052,161336,Apple Airpods Headphones,1,150.0,2019-02-02 11:05:00,"979 Cedar St, New York City, NY 10001"
176233,309506,Google Phone,1,600.0,2019-12-08 06:22:00,"395 14th St, Dallas, TX 75001"

Marvelous.

## Data quality checks, continued

Now that we have data in the right format, let's make sure it's _good_ data, using a combination of data visualization and text output.

Note: this will "void the warranty," so to speak, of our data, in the sense that once we've performed these checks, we will have performed so many tests on the data that we can no longer run traditional hypothesis tests due to the [multiple comparisons problem](https://en.wikipedia.org/wiki/Multiple_comparisons_problem). The multiple comparisons problem will arise because every time we compare two variables or see the sample distribution of a variable, we will essentially have performed a hypothesis test on it. As more and more hypothesis tests are run on a set of data, the more likely it is that a spurious correlation, or a correlation that has arisen purely due to coincidence and doesn't exist in reality, will be encountered. There are ways (corrections) to account for that (see the "Controlling procedures" section of the linked Wikipedia page), but a) it's not the same as having "fresh" data, and b) we are not particularly interested in testing any hypotheses at the moment. In fact, analyzing this data is largely what will _lead_ to hypotheses we want to test! We just won't be able to test them, unless we can get another set of data from the same store, collected the same way as this data.

First, let's use the `pandas.DataFrame.describe()` method to get a quick overview of the data.

### General information

In [21]:
df.describe()

,Order ID,Product,Quantity Ordered,Price Each,Order Date,Purchase Address
count,185950,185950,185950,185950.00,185950,185950
unique,178437,19,9,17.00,142395,140787
top,160873,USB-C Charging Cable,1,11.95,2019-12-15 20:16:00,"193 Forest St, San Francisco, CA 94016"
freq,5,21903,168552,21903.00,8,9

Here are a few observations we can make based on just this:
1. The maximum `Quantity Ordered` is 9, yet the 75th percentile is 1; this means that more than one of an items is ordered less than 25% of the time. This is further supported by the standard deviation of `Quantity Ordered` being only ~0.44.
2. The most expensive item in the store costs \\$1,700.
3. There is an order on the first of January, 2020 &mdash; we should get rid of that data point (as well as any others that do not take place in 2019) to confine ourselves purely to 2019 data.
4. Order dates are pretty evenly distributed: the minimum is January 1, the first quartile is mid April, the median is late-mid July, the third quartile is late October, and the maximum, is the first day of the new year.

Now let's perform some simple visual analyses on each numeric column's distribution, and see what we can learn.

### Data distributions

In [25]:
df[["Quantity Ordered", "Price Each", "Order Date"]].hist()

<class 'pandas.core.frame.DataFrame'>
Index: 185950 entries, 0 to 186849
Data columns (total 3 columns):
 #   Column            Non-Null Count   Dtype
---  ------            --------------   -----
 0   Quantity Ordered  185950 non-null  object
 1   Price Each        185950 non-null  object
 2   Order Date        185950 non-null  object
dtypes: object(3)
memory usage: 5.7+ MB

Rough, but informative.

The distribution of the values in the `Quantity Ordered` column confirms our earlier inference that most orders contain a single item. The histogram additionally tells us that hardly any orders contain more than three of any item.

The `Order Date` distribution tells us how busy the store was during various times of the year. That end-of-year peak could mean that the store's sales are on the rise year-over-year, but I suspect it's more likely to be explained by the fact that December incentives shopping, due to Christmas, Boxing Day, and the New Year. We would need to see data for January and a bit later of 2020 to be certain.

The `Price Each` histogram is particularly interesting. Inexpensive items comprise the vast majority of orders, which makes sense, but there is an out-of-place bump in sales of items costing more than \\$1,500. Why? Let's see what items have a price greater than \\$1,500 and see if we can infer the reason.

In [ ]:
df.loc[df["Price Each"] > 1500].sample(10)

That makes sense, the Macbook Pro is an extremely popular personal computer.

Occasionally, datasets will collect all values beyond a cutoff point into the same maximum value. For instance, a real estate dataset may have a price cutoff of \\$1,000,000, and any properies with values exceeding that will be counted as having a price of \\$1,000,000, resulting in a bump on the right edge of the price histogram. I'm glad to see that's not what happened here.

Everything checks out in terms of data quality, so let's move on to data transformation!

## Data transformation

Remember that we got rid of several rows earlier, because they contained null values or contained the column names rather than any useful information; that messed up our index, because now there are "holes" in it. It's possibly not a big deal, but I prefer to have all the useful data logically sorted and indexed. So let's sort and reindex our DataFrame.

In [ ]:
df.sort_values(by = "Order ID", inplace = True)
df.reset_index(drop = True, inplace = True)

Next, remember that we discovered earlier that the maximum `Order Date` is January 1, 2020. Since this is an analysis of 2019 data, we don't want any 2020 orders, so let's get rid of those rows. But first, I'm curious to see how many 2020 orders made it into this data set.

In [ ]:
df.loc[df["Order Date"] >= parse("01/01/2020")]

Not many when compared to the size of the dataset, but a lot more than I expected. Instead of just discarding it, let's put this stuff into a new DataFrame, separate from our 2019 data. We'll also put the 2019 data into its own DataFrame. This ensures we have the original data, should we ever want to refer to it.

In [ ]:
data_2020 = df.loc[df["Order Date"] >= parse("01/01/2020")].copy()
data_2019 = df.loc[df["Order Date"] < parse("01/01/2020")].copy()

In [ ]:
data_2019.describe()

In [ ]:
data_2020.describe()

Excellent. Now we can move on to analysis.

## Data analysis

A good rule of thumb in data analysis, especially in _exploratory_ data analysis, when we don't have a specific question we're interested in, is to get a big picture overview of general information and then get progressively more specific as questions arise.

Since we're analyzing store data, let's start by checking out the year's sales statistics.

### Total sales in 2019

Since the data records each type item sold at a time as its own order, the year's total sales will be equal to each order's `Quantity Ordered` multiplied by the item's `Price Each`.

In [ ]:
total_sales = (data_2019["Quantity Ordered"] * data_2019["Price Each"]).sum()
total_sales

So, in 2019, the store had a revenue of around \\$3,448,365.68. Not bad, though without knowing where the store is geographically, how many employees it has, and what its costs are, there's no way to tell whether that's objectively good. In a very high cost of living area, with many employees, and high costs, each employee and store owner may not have lavish lifestyles. On the other hand, if it's in a low cost of living area, with only a few employees, and not much cash outflow, the store's employees could be living like royalty.

Let's get a bit more specific, and examine the monthly statistics.

### Monthly statistics

The `Order Date` histogram we created previously in the data quality check section gave us an overview of how orders are distributed by month, but we don't know if sales (i.e. revenue) follow the same distribution. Let's find out!

If we're going to be splitting data up based on unique values of a categorical variable, though, it's convenient to have a column containing specifically the values of that variable. Currently, the month of each order is tied up in its `Order Date`, and we'd have to parse each entry individually to extract the order's month. That's both computationally expensive and a messy thing to code. So let's create new colummns for the number and name of the month of each order (e.g. April is number 4), as well as separate columns for the day of the month, day of the year (e.g. February 1 is the 32nd day of the year), and weekday (Sunday, Monday, etc.). This will let us investigate such things as whether sales spike on December 24th, see sales as a per-day time series spanning the duration of 2019, and how the day of the week impacts sales.

We will need to import the `datetime.datetime` module first.

#### Further data transformation

In [ ]:
from datetime import datetime

In [ ]:
data_2019.loc[:, "Month Number"] = pd.Series(data_2019.loc[:, "Order Date"].map(lambda d: d.month)).astype("Int8")
data_2019.loc[:, "Month Name"] = pd.Series(data_2019.loc[:, "Order Date"].map(lambda d: d.month_name()))
data_2019.loc[:, "Day of Month"] = pd.Series(data_2019.loc[:, "Order Date"].map(lambda d: d.day)).astype("Int8")

date_offset = data_2019.loc[:, "Order Date"].min().toordinal() + 1

data_2019.loc[:, "Ordinal Day"] = pd.Series(data_2019.loc[:, "Order Date"].map(lambda d: d.toordinal() - date_offset)).astype("Int16")
data_2019.loc[:, "Weekday"] = pd.Series(data_2019.loc[:, "Order Date"].map(lambda d: d.day_name()))

In [ ]:
data_2019.sample(10)

In [ ]:
data_2019.info()

In [ ]:
data_2019.describe()

Perfect. Now, let's analyze.

#### Total monthly sales

In [ ]:
total_monthly_sales = (data_2019["Quantity Ordered"] * data_2019["Price Each"]).groupby(data_2019["Month Number"]).sum()
total_monthly_sales.plot(kind="bar")

For comparison, here's the twelve-bin histogram of `Order Date`s:

In [ ]:
data_2019["Order Date"].hist(bins=12)

The distribution of total monthly sales follows the approximate distribution of orders per month. No surprises there. This means that there aren't any major shifts in the percentage of orders per month that each item makes up.

For example, suppose that in April, almost all orders were of expensive electronics like the Macbook Pro or the iPhone; in that case, the bar representing monthly sales in April would be significantly taller than it is, and the distribution would have a pretty glaring difference when compared to the orders-per-month distribution.

#### Average monthly sales

In [ ]:
average_monthly_sales = (data_2019["Quantity Ordered"] * data_2019["Price Each"]).groupby(data_2019["Month Number"]).mean()
average_monthly_sales.plot(kind="bar")

Hardly any variation in the average sales per month. Interesting. I would've thought that there would be a significant spike in August and September, thinking that a somewhat larger portion of sales would comprise new phones and laptops due to academic institutions starting a new year, and in December, due to the same change in portion but caused by Christmas and the new year.

Maybe the monthly orders are different?

#### Total monthly orders

In [ ]:
total_monthly_orders = data_2019.groupby(data_2019["Month Number"])["Order ID"].nunique()
total_monthly_orders.plot(kind="bar")

Nothing unexpected here either. Of course, if the distribution of the number of orders per month resembles the distribution of total sales per month, it's practically guaranteed that the distribution of the average price per order per month is going to be more or less a horizontal line, i.e. constant. Let's verify that, though.

#### Average spent per order per month

In [ ]:
avg_monthly_order_price = total_monthly_sales / total_monthly_orders
avg_monthly_order_price.plot(kind="bar")

Approximately constant, as expected. In fact, let's be _really_ sure. Let's add a regression line to this bar plot.

We will need `numpy` and `matplotlib`.

In [ ]:
import numpy as np
import matplotlib.pyplot as plt

By the way, in addition to the official documentation, I also recommend [this](https://realpython.com/python-matplotlib-guide/) excellent guide on the Real Python website, written by Brad Solomon, for a high-level understanding of Matplotlib.

In [ ]:
x = avg_monthly_order_price.index.to_list()
y = avg_monthly_order_price.values

fig, ax = plt.subplots()

ax.bar(x, y, color="dodgerblue")

params = np.polyfit(x, y, 1)
curve = np.poly1d(params)

ax.plot(x, curve(x), "black")

plt.show()

I also took the liberty of changing the bars' colour to a more attractive blue.

Anyway, you can see that the regression line is almost perfectly horizontal, indicating almost no change in the monthly average spending per order.
We can see the exact parameters of the line, too:

In [ ]:
params

The line has a slope of around -0.4 and a y-intercept of around 196.

I think that's the most we can really do with the monthly timeframe. The thing with months is that they're just long enough that the weather can change noticeably in between them, and only a few months exist between major social and economic events like the resuming of academics in September, Halloween in October, Christmas in December, Valentine's Day in February, spring break, summer vacation, etc. All of these things can affect purchases pretty significantly, so without being able to compare data for the same season over multiple years, monthly data turns out not to be terribly useful.

### Daily statistics

Daily statistics are found in largely the same way as monthly statistics; I'm currently not too interested in those.

I am, however, interested in...

### Demographics

Where do most sales come from? Are people from certain areas more likely to purchase certain things? This is the interesting stuff!

Let's start by analyzing the distribution of total sales by state. To do that, we'll create new columns for each order's customer's state, and also their city and zip code, just in case.

#### Further data transformation

In [ ]:
data_2019.loc[:, "State"] = pd.Series(data_2019.loc[:, "Purchase Address"].map(lambda s: s.split(",")[2].strip()[0:2]))
data_2019.loc[:, "City"] = pd.Series(data_2019.loc[:, "Purchase Address"].map(lambda s: s.split(",")[1].strip()))
data_2019.loc[:, "Zip Code"] = pd.Series(data_2019.loc[:, "Purchase Address"].map(lambda s: s.split(",")[2].strip()[3:]))

data_2019

Lovely. Now we can analyze.

#### What states do orders come from?

In [ ]:
state_orders = data_2019.groupby("State")["Order ID"].nunique()
state_orders.plot(kind="bar")

In [ ]:
state_orders.sort_values(ascending = False)

Looks like the states from which orders are made are, in descending order of number of orders, California, New York, Texas, Massachusetts, Georgia, Washington, Oregon, and Maine, with California ordering more than New York, Texas, and Massachusetts put together.

But do more orders necessarily translate into more revenue from each state? Let's see.

#### Sales by state

In [ ]:
state_sales = (data_2019["Quantity Ordered"] * data_2019["Price Each"]).groupby(data_2019["State"]).sum()
state_sales.plot(kind="bar")

In [ ]:
state_sales.sort_values(ascending = False)

Looks like there is indeed a _very_ strong correlation between the number of orders and revenue from each state. Which makes sense, though, truth be told, I was hoping for something unexpected.

Maybe there's something to see in the per-city data?

#### Orders and revenue by city

This time, let's skip the prose and get fancy with the code.

In [ ]:
city_orders = data_2019.groupby("City")["Order ID"].nunique()
city_sales = (data_2019["Quantity Ordered"] * data_2019["Price Each"]).groupby(data_2019["City"]).sum().reindex(city_orders.index)

x = city_orders.index.to_list()
y1 = city_orders
y2 = city_sales

fig, (ax1, ax2) = plt.subplots(1, 2)

ax1.bar(x, y1, color="dodgerblue")
ax2.bar(x, y2, color="dodgerblue")

ax1.set_title("Orders per city")
ax2.set_title("Revenue per city")

ax1.tick_params(axis="x", labelrotation=90)
ax2.tick_params(axis="x", labelrotation=90)

fig.tight_layout()

plt.show()

Identical. The final topic to analyze is the products themselves.

### Product analysis

This section will be a sort of aggregate of exploration. We'll get the prices of all the products, examine how many orders each product has, and see how much each product contributed to yearly revenue in 2019.

In [ ]:
product_prices = data_2019["Price Each"].groupby(data_2019["Product"]).mean()
product_orders = data_2019["Quantity Ordered"].groupby(data_2019["Product"]).sum().reindex(product_prices.index)
product_sales_contributions = (data_2019["Quantity Ordered"] * data_2019["Price Each"]).groupby(data_2019["Product"]).sum().reindex(product_prices.index) / total_sales  # We found total_sales near the beginning of this notebook

y1 = product_prices
y2 = product_orders
y3 = product_sales_contributions
x = product_prices.index.to_list()

fig, (ax1, ax2, ax3) = plt.subplots(1, 3, figsize=(18, 8))

ax1.bar(x, y1, color="dodgerblue")
ax2.bar(x, y2, color="dodgerblue")
ax3.bar(x, y3, color="dodgerblue")

ax1.set_title("Product prices")
ax2.set_title("Product orders")
ax3.set_title("Product revenue contributions")

ax1.tick_params(axis="x", labelrotation=90)
ax2.tick_params(axis="x", labelrotation=90)
ax3.tick_params(axis="x", labelrotation=90)

fig.tight_layout()

plt.show()

Unsurprisingly, the least expensive items sell the most, and vice versa.

What is most interesting is the product sales contribution chart in the context of the other two. Here are some observations:
1. The batteries, charging cables, and wired headphones, which are very inexpensive and sold the most, contributed hardly anything to the yearly revenue.
2. On the other hand, the Macbook Pro, iPhone, and ThinkPad laptop, which are the three most expensive and least ordered products, contributed the most to yearly revenue.
3. The appliances are mid-range in terms of price but sold so few units that their combined contribution to yearly revenue was less than 3%.
4. The 20in monitor is cheap, sold a meager number of units, and had a yearly revenue contribution of less than 2%.
5. The Vareebadd phone (yes, yes &mdash; remember this isn't real world data, most store owners are hesitant to have their yearly numbers be known so we make do with what we have) isn't terribly expensive, but sold very few unuits and had a yearly revenue contribution of around 2.5%.

Based on this, we can make a few recommendations:
1. Get rid of the appliances and focus exclusively on small electronics and their accessories.
2. Get rid of the 20in monitor and Vareebadd phone and focus exclusively on brand name, high quality products.
3. Things like batteries, charging cables, and wired headphones, though contributing very little to yearly revenue, are probably cheap enough to order in bulk and keep in stock, so maybe those things can be shown in a "Recommended" items section when the customer goes to checkout their order?

Next, I want to plot the proportion of orders each product constitutes per month, as well as per state.

In [ ]:
product_order_proportions_per_month = data_2019.groupby(["Month Number", "Product"])["Quantity Ordered"].sum()

month_numbers = product_order_proportions_per_month.index.levels[0].to_list()
x = product_order_proportions_per_month.index.levels[1]

fig, ax = plt.subplots()
fig.tight_layout()

for month in month_numbers:
    ax.scatter(x, product_order_proportions_per_month.loc[[month]] / total_monthly_orders[month])

ax.set_title("Product revenue contributions per month")
ax.tick_params(axis="x", labelrotation=90)
ax.legend(month_numbers)

Doesn't look like there's much variation between months, though it seems there was a slightly higher-than-normal demand for AAA batteries in May. Let's see the per-state plots.

In [ ]:
product_order_proportions_per_state = data_2019.groupby(["State", "Product"])["Quantity Ordered"].sum()

states = product_order_proportions_per_state.index.levels[0].to_list()
x = product_order_proportions_per_state.index.levels[1]

fig, ax = plt.subplots()
fig.tight_layout()

for state in range(len(states)):
    ax.scatter(x, product_order_proportions_per_state.loc[[states[state]]] / state_orders.reindex(product_order_proportions_per_state.index.levels[0])[state])

ax.set_title("Product revenue contributions per state")
ax.tick_params(axis="x", labelrotation=90)
ax.legend(states)

Maine is at an extreme in most product revenue contributions. Why do they need so many USB-C cables and Apple Airpods, yet so few AAA batteries and lightning cables? What's going on in Maine?

As a Canadian, I'm not familiar enough with US state demographics, and since this data isn't real, there's no way to tell if there actually is something funky in Maine or if this was done just for fun.

Either way, I think that's a sufficient level of analysis. We got some useful information and questions worth looking into, as well as some recommendations we can make to the store owners to simplify their inventory and optimize revenue.